.button {
  border-radius: var(--border-radius-default);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  max-width: var(--width-input);
  padding: 0.5em 1em;
  margin: 0.5em 0;
  transition: transform 0.1s ease;
  width: 100%;
}

.button:hover:not(:disabled) {
  transform: scale(1.05);
}

.button:active:not(:disabled) {
  transform: scale(0.95);
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.primary {
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
}

.primary:hover:not(:disabled) {
  background-color: #3632d1;
  border-color: #3632d1;
}

.secondary {
  background-color: transparent;
  border: 2px solid var(--color-brand);
  color: var(--color-brand);
}

.secondary:hover:not(:disabled) {
  background-color: rgba(65, 62, 247, 0.1);
}

.spinner {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
